.login__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  padding: 50px 10px;
}
.login__title {
  font-size: 42px;
  font-weight: 300;
  margin-bottom: 40px;
}
.login__wrapper input {
  min-width: 300px;
  margin-bottom: 20px;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid var(--border-color);
}
.login__redirection {
  font-size: 14px;
}
.login__button {
  margin-top: 20px;
  padding: 10px 80px;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  cursor: pointer;
  transition: .3s;
}
.login__error {
  color: var(--active-color);
  margin-bottom: 20px;
}
.login__button:hover {
  background-color: var(--active-color);
  color: var(--white);
}
.login__button:disabled {
  background-color: var(--main-color);
  color: var(--white);
  cursor: not-allowed;
}
